services:
  kingsforth-platform:
    container_name: kingsforth_platform
    build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: always
    env_file:
      - .env
